
<div class="container-fluid content-fix mb-3">
  <div class="row">
    <div class="col">
      <h3><b style="text-transform: uppercase;">Nhập Thông tin của dự án</b></h3>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <p><i>Mọi thông tin đều là bắt buộc</i></p>
    </div>
  </div>

  <!-- Form Update -->
  <form #fm="ngForm" [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm)" class="needs-validation">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationTooltip01">Tên dự án <span class="require-inp">*</span></label>
        <input type="text" formControlName="project_name" value="{{projectItem.project_name}}"
          class="form-control" id="validationTooltip01" placeholder="Tên dự án" required>
        <!-- Start Err -->
        <div class="error" *ngIf="projectForm.get('project_name').dirty && 
        projectForm.get('project_name').errors?.required">
          Tên dự án không được bỏ trống*
        </div>
        <div class="error" *ngIf="projectForm.get('project_name').dirty && 
   projectForm.get('project_name').errors?.['minlength']">
          Tên dự án tối thiểu 6 kí tự*
        </div>
        <!-- end err -->
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationTooltip02">Ngày bắt đầu<span class="require-inp">*</span></label>
        <input type="date" class="form-control" [(ngModel)]="projectItem.day_start" formControlName="day_start">
        <!-- Err Mess -->
        <div class="error" *ngIf="projectForm.get('day_start').dirty && 
          projectForm.get('day_start').errors?.required">
          Ngày bắt đầu không được bỏ trống*
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationTooltipUsername">Ngày hoàn thành<span class="require-inp">*</span></label>
        <div class="input-group">
          <input type="date" formControlName="day_complete" [(ngModel)]="projectItem.day_complete" class="form-control">
          <div class="error" *ngIf="projectForm.get('project_name').dirty && 
            projectForm.get('project_name').errors?.required">
            Ngày hoàn thành không được bỏ trống*
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationTooltip03">Người thực hiện <span class="require-inp">*</span></label>
        <input type="text" formControlName="author" [(ngModel)]="projectItem.author" class="form-control"
          formControlName="author" placeholder="Người thực hiện dự án" required>
        <!-- Start Err Mes -->
        <div class="error" *ngIf="projectForm.get('author').dirty && 
             projectForm.get('author').errors?.required">
          Người thực hiện là thông tin bắt buộc*
        </div>
        <div class="error" *ngIf="projectForm.get('author').dirty && 
        projectForm.get('author').errors?.['minlength']">
          Tên Người thực hiện dự án tối thiểu 6 kí tự*
        </div>
        <!-- End Err Mes -->
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip04">State <span class="require-inp">*</span></label>
        <select formControlName="state" [(ngModel)]="projectItem.state" class="custom-select" id="">
          <option value="">Chọn tiến độ công việc</option>
          <option value="in progress">Đang thực hiện</option>
          <option value="complete">Đã hoàn thành</option>
          <option value="complete">Đã hoàn thành</option>
          <option value="late">Trễ hạn</option>
        </select>
        <div class="error" *ngIf="projectForm.get('state').dirty && 
        projectForm.get('state').errors?.required">
          Vui lòng chọn 1 trạng thái*
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="form-group">
          <label for="state">Tiến độ hoàn thành:
            <b> {{myValue }}%</b>
          </label>
          <input  type="range" [(ngModel)]="myValue" formControlName="progress"
            value="{{projectItem.progress}}" id="formControlRange" min="0" max="100" />
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Cập nhật</button>
  </form>
</div>