<<<<<<< HEAD
.require-inp{
    color: red;
    margin-left: 4px;
    font-weight: bolder;
}

.error{
    color: red;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    width: 100%;
=======
.require-inp{
    color: red;
    margin-left: 4px;
    font-weight: bolder;
}

.error{
    color: red;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    width: 100%;
>>>>>>> 0e543a37e6ecfbcb12cbb98e5844e83a7d378ab4
}